h1{
    color: rgba(160, 0, 0, 0.753);
}

.botões a {
    font-size: 20px;
    color: rgb(42, 63, 9);
    text-decoration: none;
    background-color: rgb(233, 192, 79);
    padding: 10px;
    border-radius: 10px;
}
.pag-inicial{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 320px;
    background-color: azure;
    padding: 20px;
    border-radius: 20px;

}
.pag-inicial img{
    width: 250px;

}

.botões a:hover{
    background-color: rgb(206, 159, 31);
}
body {
    background-image: linear-gradient(0deg, #204583, #87CEFA);
    background-attachment: flex;
    display: flex;
    justify-content: center;
}